<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:320px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:28px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>SftP<br>ITALY</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:24px">Home</a>
        <!-- <a href="https://www.instagram.com/sftp.canada/" target="blank" onclick="w3_close()" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:24px">Instagram <i class="fa fa-instagram" style="font-size:24px"></i></a>
    <a href="https://linktr.ee/sftp.canada" target="blank" onclick="w3_close()" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:24px">Linktree <i class="fa fa-tree" style="font-size:24px"></i></a> -->
    <a href="docs/manifesto.pdf" target="blank" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:24px">Il nostro Manifesto  <i class="fa fa-file-text" style="font-size:24px"></i></a>
    <a href="https://magazine.scienceforthepeople.org/" target="blank" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:24px">SftP Magazine <i class="fa fa-book"></i></a>
    <a href="#partecipa" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:24px">Partecipa </a>
    <a href="#scrivici" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:24px">Scrivici</a>
    <a href="/blog" class="w3-bar-item w3-button w3-hover-white" style="font-size:24px">Blog</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }
</script>
